<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Contact</h2>
            <p>Contactez Nous</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-6">

                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Adresse</h3>
                            <p>35 rue de la république,<br>Lille, 59000</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-telephone"></i>
                            <h3>Appelez Nous</h3>
                            <p>+33 6 27 21 22 85</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-envelope"></i>
                            <h3>Email</h3>
                            <p>contact@proxi-renovation.fr</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-clock"></i>
                            <h3>Horaires</h3>
                            <p>Lundi - Dimanche<br>24h/24</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form action="/contact/" method="post" class="php-email-form">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="nom" class="form-control" placeholder="Votre Nom" required>
                        </div>

                        <div class="col-md-6">
                            <input type="tel" name="tel" min="9" max="14" class="form-control" placeholder="Votre Numéro" required>
                        </div>

                        <div class="col-md-12">
                            <input type="email" class="form-control" name="email" placeholder="Votre Email (Optionnel)">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Message Envoyé</div>

                            <button type="submit">Envoyer</button>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>

</section><!-- End Contact Section -->